@font-face {
    font-family: 'SlowGothic';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2304-01@1.0/neurimboGothicRegular.woff2') format('woff2');
    font-weight: normal;
    font-display: swap;
}

.container{
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 812px;
  width: 375px;
  background-color: #ffffff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
  margin: 0 auto; /* 중앙 정렬 */
  background: linear-gradient(to bottom, #6F0121 30%, #ffffff 60%);
    
    /* 배경 반복 방지 */
    background-repeat: no-repeat;
}

.adiminPage{
  margin-top: 200px;
  margin-bottom: 10px;
  font-family: 'SlowGothic', sans-serif; /* 등록한 이름 그대로 사용 */
  font-size: 15px;
  color: #ffffff; /* 흰색 글씨 */
}

.kurchive{
  font-family: 'SlowGothic', sans-serif; /* 등록한 이름 그대로 사용 */
  font-size: 40px;
  color: #ffffff; /* 흰색 글씨 */
  margin-bottom: 60px;
}

.password{
  color: white;
  font-weight: 200;
}

.inputBox{
  height: 40px;
  width: 80%;
  border: none;
  border-radius: 5px;
  margin-bottom: 170px;
}

.loginBtn{
  width: 80%;
  background-color: #360404;
  color: white;
  padding: 15px 0px;
  border: none;
  border-radius: 5px;
}