@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}



@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  margin: 0;          /* 기본 여백 제거 */
  padding: 0;         /* 기본 안쪽 여백 제거 */
  font-family: Arial, sans-serif; /* 글꼴 설정 */
  background-color: #fafaf8;      /* 배경색 */
  color: #8B0029;                /* 글자색 */
}


.kur_red {
  color : #8B0029
}

.light_red {
  color : #F1E6E6
}

.light_gray {
  color : #ECEBEA
}

.white_gray {
  color : #F0EEEC
}

.black{
  color : #1a1a1a
}
.white{
  color : #fafaf8
}
