.container {
  width: 700px;
  height: 999px;
  margin: 0 auto;
  padding: 0;
  margin-top: 139px;
  overflow: auto;
  background-color: white;
  border-top: 1px solid transparent;
}
:global(html),
:global(body) {
  overflow: visible !important; /* 또는 auto */
  height: auto !important; /* 100%로 고정된 높이를 풀어줍니다 */
}
