@font-face {
    font-family: 'SlowGothic';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2304-01@1.0/neurimboGothicRegular.woff2') format('woff2');
    font-weight: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Pretendard';
    src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
    font-weight: 400;
    font-display: swap;
}

.title {
    font-family: 'SlowGothic', sans-serif;
    color: #8B0029;
    box-sizing: content-box;
    font-size: 40px !important;
    font-weight: 500 !important;
    height: 48px;
    line-height: 48px;
    margin: 0px;
}

.sub-title {
    font-family: 'Pretendard', sans-serif;
    color: #8B0029;
    font-size: 16px !important;
    font-weight: 600 !important;
}
