@font-face {
    font-family: 'SlowGothic';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2304-01@1.0/neurimboGothicRegular.woff2') format('woff2');
    font-weight: normal;
    font-display: swap;
}

.container{
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 812px;
  width: 375px;
  background-color: #ffffff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
  margin: 0 auto; /* 중앙 정렬 */
}

.pageTitle{
  display: flex;
  align-items:flex-end;
  position: absolute;
  left: 10px;
  top: 10px;
}

.kurchive{
  font-family: "SlowGothic", sans-serif;
  font-size: 35px;
  color: #4B0017;
}

.adminPage{
  font-family: "SlowGothic", sans-serif;
  font-size: 20px;
  color: #4B0017;
  margin-bottom: 4px;
  margin-left: 10px;
}

.memberSearch{
  margin-top: 120px;
  color:#4B0017;
  font-size: 25px;
  font-weight: 700;
  margin-bottom: 30px;
}

.memberSearchBody{
  width: 85%;
  margin-right: 20px;
  margin-bottom: 50px;
}

.memberSearchInput{
  width: 100%;
  height: 40px;
  border: none;
  padding-left: 20px;
  border-bottom: 2px solid #4B0017;
}

.positiveBody{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.title{
  margin-bottom: 10px;
}

.contentsBody{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 90%;
  height: 120px;
  border: 1px dotted black;
  border-radius: 15px;
  box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.2);
}

.contents{
  display: flex;
  flex-direction: column;
  align-items: start;
}

.contents div{
 margin: 10px 0px;
}

.nameTitle{
  font-size: 12px;
  margin-right: 10px;
}

.authorityTitle{
  font-size: 12px;
  margin-right: 10px;
}

.modify{
  margin-left: 30px;
  background-color: #4C4C4C;
  color: white;
  width: 30%;
  height: 80px;
  display: grid;
  place-items: center;
  border-radius: 20px;
  font-size: 13px;
  margin-left: 80px;
}

.expel{
  margin-top: 80px;
  background-color: #000000;
  color: #ffffff;
  width: 70%;
  padding: 10px 0px;
  border-radius: 20px;
}

.dropOverlay{
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 812px;
  width: 375px;
  background-color: rgba(242, 242, 242, 0.9);
  margin: 0 auto; /* 중앙 정렬 */
  z-index: 5;
  position: absolute;
  left: 0;
  top: 0;
}

.dropContainer{
  width: 350px;
  height: 420px;
  background-color: white;
  border-radius: 15px;
  border: 1px solid #4B0018;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.dropText{
  color: #4B0017;
  font-size: 20px;
  margin-bottom: 50px;
  margin-top: -20px;
}

.dropInfo{
  width: 300px;
  height: 120px;
  border: 1px dotted black;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.1);
  margin-bottom: 60px;
}

.dropInfo div{
  margin-bottom: 10px;
}

.dropInfo div span{
  margin: 0px 20px;
}

.cancelBtn{
  width: 150px;
  height: 50px;
  background-color: white;
  border: 1px solid black;
  border-radius: 10px;
  margin-right: 20px;
  margin-left: 15px;
}

.confirmBtn{
  width: 60px;
  height: 50px;
  background-color: white;
  border: 1px solid black;
  border-radius: 10px;
  margin-right: 20px;
}

.cancelBtn:hover, .confirmBtn:hover{
  background-color: #4B0017;
  color: white;
}

.handImg{
  width: 100px;
  margin-top: 100px;
}

.negativeText{
  margin: 10px;
}